#  Ignore dev tools & configs
.vscode/**
.vscode-test/**
test/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/jsconfig.json
**/eslint.config.mjs
**/.vscode-test.*
*

#  Ignore source files and maps
screens/**
assets/**
**/*.map

#  Exclude lock file to reduce size
package-lock.json

#  Allow only essential build output and metadata
!dist/**
!README.md
!LICENSE.md
!CHANGELOG.md
!icon.png
!package.json
